<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basic">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.w2a.listeners.CustomListeners" />
	</listeners>
	<test name="Open Account">
		<classes>
			<class name="com.w2a.testcases.LoginTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
